<form id="app">
    <div class="form-group">
        <label for="interval">Plugin change interval in seconds</label>
        <input type="number" class="form-control" id="interval" v-model="settings.interval" min="5">
    </div>
    <button class="btn btn-default" v-on:click.prevent="saveSettings">Save</button>
    <span v-if="saved" class="label label-success">saved</span>
</form>

<script type="text/javascript">
    var coreSettingsVM = new Vue({
        el: "#app",
        data: {
            settings: {},
            saved: false
        },
        methods: {
            saveSettings: function (url) {
                this.saved = false;
                this.$http.post('@Url.Action("Save","CoreSettings")', this.settings).then(function(response) {
                    this.saved = true;
                });
            }
        },
        created: function() {
            this.$http.get('@Url.Action("Get","CoreSettings")').then(function(response) {
                this.settings = response.body;
            });
        },
    });
</script>