@model TeamScreen.Plugin.Git.Models.GitModel

<h1>@Model.RepositoryName</h1>

@foreach (var commit in Model.Commits)
{
    @commit.Message
    <br/>
    @commit.AuthorEmail
    <br/>
    @commit.Date
}
