<div id="mainContainer"></div>

@section Scripts{
    <script type="text/javascript">
        var vm = new Vue({
            el: "#mainContainer",
            data: {
                nextIndex: 0,
                availablePlugins: ['@Url.Action("Content", "Jira")', '@Url.Action("Content", "TeamCity")'],
                interval: 5
            },

            methods: {
                loadNextPlugin: function() {
                    $(this.$el).load(this.availablePlugins[this.nextIndex]);
                    if (this.nextIndex < this.availablePlugins.length - 1)
                        this.nextIndex++;
                    else
                        this.nextIndex = 0;
                }
            },

            mounted: function() {
                this.loadNextPlugin();

                setInterval(function() {
                    this.loadNextPlugin();
                }.bind(this), this.interval * 1000);
            }
        });
    </script>
}