@model List<Warden.IWardenCheckResult>

<div>
    <h1>Health check</h1>
    <hr/>
    
    @foreach (var check in Model)
    {
         if (check.IsValid)
         {
             <div class="alert alert-success">
                 @check.WatcherCheckResult.WatcherName 
                 <i class="fa fa-check" aria-hidden="true"></i>
             </div>
         }
         else
         {
             <div class="alert alert-danger">
                 @check.WatcherCheckResult.WatcherName 
                 <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
             </div>
         }
    }
</div>
