@model TeamScreen.Models.Settings.CoreSettings

<form asp-controller="Settings" asp-action="Save" method="post">
    <div class="form-group">
        <label for="interval">Plugin change interval in seconds</label>
        <input type="number" class="form-control" id="interval" asp-for="Interval" min="5">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>