@model List<string>
<h1>Settings</h1>

@Html.ActionLink("Back to main view", "Index", "Container")

<hr />

<ul class="list-inline">
    @foreach (var pluginName in Model)
    {
        <li>
            @Html.ActionLink(pluginName, "SinglePluginSettings", new { plugin = pluginName }, new { @class = "btn btn-default" })
        </li>
    }
</ul>