<h1>Settings</h1>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#core">Core</a></li>
    <li><a data-toggle="tab" href="#menu1">TeamCity</a></li>
    <li><a data-toggle="tab" href="#menu2">JIRA</a></li>
</ul>

<div class="tab-content">
    <div id="core" class="tab-pane fade in active">
        
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#core").load('@Url.Action("CoreSettings")');
    </script>
}