@model TeamScreen.Plugin.TeamCity.Models.TeamCitySettings

<form id="app">
    <div class="form-group">
        <label for="url">Url</label>
        <input type="url" class="form-control" id="url" required="required" v-model="settings.url">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required="required" v-model="settings.username">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required="required" v-model="settings.password">
    </div>
    <button class="btn btn-default" v-on:click.prevent="saveSettings">Save</button>
    <span v-if="saved" class="label label-success">saved</span>
</form>

<script type="text/javascript">
    var teamCitySettingsVM = new Vue({
        el: "#app",
        data: {
            settings: {},
            saved: false
        },
        methods: {
            saveSettings: function (url) {
                this.saved = false;
                this.$http.post('@Url.Action("SaveCoreSettings","Settings")', this.settings).then(function(response) {
                    this.saved = true;
                });
            }
        },
        created: function() {
            this.$http.get('@Url.Action("GetCoreSettings","Settings")').then(function(response) {
                this.settings = response.body;
            });
        },
    });
</script>