@model IEnumerable<TeamScreen.TeamCity.BuildJob>

<h1>TeamCity status</h1>

@foreach (var build in Model)
{
    <h2>@build.Project.Name - @build.Name - @build.BuildCollection.Builds.FirstOrDefault().Status</h2>
}